<!DOCTYPE html>
<html>
	<head>
		<title>
			eShopping App
		</title>
	</head>
	<body>
	
	<h1>About eShopping</h1>
	<h2>
	eShopping, Inc. is a locally owned fashion store located in Denton City, Texas, US. Currently 
eShopping, Inc. has three departments, including women, men, and kids. Each department has 
roughly 7000 – 70000 individual item. It covers an area of about 7,000 square feet and three floors. 
eShopping, Inc. has had the distinction of receiving the prestigious “Best Fashion Store in Denton” 
7 times in a row. </h2>
<h2>
eShopping, Inc. can no longer afford to rely only on its loyal 
customer base. It needs to explore new markets and also tap potential new customers. Opening up more 
fashion stores does not seem to be a feasible solution, as it involves a lot of investment in terms of both 
cost and time. Hence, realizing the gravity of the situation and after studying the latest trends, the 
management at eShopping, Inc. has decided to plunge into the world of Internet commerce.</h2>

<h2> Contact Us:</h2>
<h3> Email :  eShoppingGroup7@my.unt.edu</h3>
<h3> Mobile:  +1 9406531235</h3>

<h4> Popular Searches ---------------------------------------------------------</h4>
<h4>
Nike  Puma  Adidas  Fila  Lee  United Colors of Benetton  Wrangler  Fastrack  Woodland  Yepme  Levis  Tommy Hilfiger  peter-england  fabindia  nike shoes  tops  shirts  jackets  myntra coupons  kurtis  shoes  tunics  dresses  Watches  saree  kurtas  bags  T-shirts  designer saree  sunglasses  jeans  trousers  adidas shoes  casual shoes  sports shoes  fastrack watches  ethnic wear  woodland-shoes  mobile app  puma shoes  accessories  anarkali suit  running shoes  reebok  formal wear  cat  jewellery
</h4>
	</body>
</html>