<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>eShopping</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
		body {
			background-color: white;
		}
		h3 {
			font-style: italic;
			color: red;
		}
		p {
			font-size: 10px;
			top: 5%;
			position: absolute;
			color: orange;
		}
	</style>
</head>
<body>
	<div class="container-fluid">
		<div class="row justify-content-center" onclick="reloadHomepage();" style="cursor: pointer;">
			<div class="col-auto">
				<h3>eShopping</h3>
			</div>
		</div>
		<hr>
		<div class="row justify-content-center">
			<div class="col-md-4">
				<form action="/login_verify/" id="user" method="post">
					{% csrf_token %}
					<div class="form-group">
						<label for="login_username">Login Verify:</label>
						<input type="text" class="form-control" id="login_username" placeholder="Enter Username" name="login_username" value="{{user_name}}" required>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" id="login_password" placeholder="Enter Password" name="login_password" value="{{user_password}}" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="login_otp" placeholder="One time Password sent to your Registered Email" name="login_otp" required>
					</div>
					<h3>{{login_invalid}}</h3>
					<button type="submit" class="btn btn-danger btn-block">LOGIN</button>
				</form>
			</div>
		</div>
	</div>
	
</body>
</html>
